<!DOCTYPE html>

<html>
<head>
<title>Dokumentasi API </title>
<link rel="stylesheet" type="text/css" href="http://dev.canisnfelis.com/apiyukmart/public_assets/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://dev.canisnfelis.com/apiyukmart/public_assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>WELCOME</h1>
<p><h3>1.Get Data Home</h3></p>
<table>
<tr>
<th style="width: 200px">Item</th>
<th style="width: 200px">Type</th>
<th style="width: 500px">Link</th>
<th>Example</th>
</tr>
<tbody>
<tr>
<td>Data Recent</td>
<td>GET</td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Recent/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Recent/</a></td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Recent/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Recent/</a></td>
</tr>
<tr>
<td>Data Berita Pilihan</td>
<td>GET</td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Bpilihan/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Bpilihan</a></td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Bpilihan/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Bpilihan</a></td>
</tr>
<tr>
<td>Data Populer</td>
<td>GET</td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Popular/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Popular/</a></td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Popular/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Popular/</a></td>
</tr>
<tr>
<td>Data Video</td>
<td>GET</td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Video/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Video/</a></td>
</tr>
<tr>
<td></td>
<td>GET ID</td>
<td><a href="#">http://dev.canisnfelis.com/nodejsrilis/Video/[Date(Y)]/[Date(M)]/[Date(D)]</a></td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Video/2017/10/17" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Video/2017/10/17</a></td>
</tr>
<tr>
<td>Data Photo</td>
<td>GET</td>
<td><a http://dev.canisnfelis.com/nodejsrilis/Photo/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Photo/</a></td>
</tr>
<tr>
<td></td>
<td>GET ID</td>
<td><a href="#">http://dev.canisnfelis.com/nodejsrilis/Photo/[Date(Y)]/[Date(M)]/[Date(D)]/2</a></td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Photo/2017/10/17/2" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Photo/2017/10/17/2</a></td>
</tr>
<tr>
<td>Data Kolom</td>
<td>GET</td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Kolom/" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Kolom/</a></td>
</tr>
<tr>
<td></td>
<td>GET ID</td>
<td><a href="#">http://dev.canisnfelis.com/nodejsrilis/Kolom/[Date(Y)]/[Date(M)]/[Date(D)]</a></td>
<td><a href="http://dev.canisnfelis.com/nodejsrilis/Kolom/2017/10/17" target="_blank">http://dev.canisnfelis.com/nodejsrilis/Kolom/2017/10/17</a></td>
</tr>
</tbody>
</table>
</body>
</html>

